{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Your custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Your Website</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Listening</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reading</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Writing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Speaking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mock Exam</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <!-- Rectangle 1 -->
            <div class="col-md-2">
                <div class="rectangle">
                    <img src="image1.jpg" alt="Image 1" class="img-fluid">
                    <ul class="scores">
                        <li>Listening: 80</li>
                        <li>Reading: 75</li>
                        <li>Writing: 85</li>
                        <li>Speaking: 90</li>
                    </ul>
                </div>
            </div>
            <!-- Repeat the structure for all 18 rectangles -->
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
